- model_class = Ride
%p
= content_tag "div", id: "ride", data: {ride: { ride_id: ride.id} } do
  %p
    - image = ride.images.first
    = image_tag(image["url"])

  %h4= ride.title
  %p= simple_format(ride.description)
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-6
      .row
        %span
          %p.large
            %strong= model_class.human_attribute_name(:rider_height) + ':'
            = "#{ride.rider_height.to_i.to_feet} ( #{ride.rider_height.to_i.to_cm })"
        %span
          %p.large 
            %strong= model_class.human_attribute_name(:frame_size) + ':'
            = ride.frame_size.to_i.to_cm    
    .col-xs-12.col-sm-12.col-md-12.col-lg-6
      .row
        %span
          %p.large
            %strong= model_class.human_attribute_name(:morning_rental) + ':'
            = '₹' + ride.morning_rental.to_s + ' /slot'
        %span
          %p.large
            %strong= model_class.human_attribute_name(:daily_rental) + ':'
            = '₹' + ride.daily_rental.to_s + ' /day' 
        %span
          %p.large  
            %strong= model_class.human_attribute_name(:weekly_rental) + ':'
            = '₹' + ride.weekly_rental.to_s + ' /week'  
    
  / %p
  /   %strong= model_class.human_attribute_name(:evening_rental) + ':'
  /   = ride.evening_rental
  

  = link_to t('ride.show_me'), ride_path(ride), :class => 'btn btn-default'
  = link_to "Close", "#", :id => 'close-expansion', :class => 'btn btn-default'

:javascript
//If Close button clicked then going to make empty #ride div, where
//This details is displayed 
$(document).ready( function(){
  $("#close-expansion").click( function() {
    $("#ride").empty();
  })
});
