= simple_form_for @ride, :html => { :class => 'form-horizontal' } do |f|
  = field_set_tag 'Describe your unique ride' do 
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-6
        %dl
          %dd= f.input :title, :placeholder=>"Like 'Rock Rider 5.0' or 'MERIDA MATTS 20 MD Bicycle'", :input_html => {:maxlength => 30}
          %dd= error_span(@ride[:title])
        %dl.description
          %dd= f.input :description, :placeholder=>"Renters want to know why they should rent your ride.", :input_html => {:maxlength => 1000}
          %dd= error_span(@ride[:description])
          %dd
            %span#description-count 0
            characters used out of 1000

      .col-xs-12.col-sm-12.col-md-12.col-lg-6
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          %dd= f.input :address, :input_html =>{:id => 'gmaps-input-address'}, :placeholder => 'Start typing your location...'
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          #gmaps-canvas   
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          %dd= f.input :landmark
          %dd= error_span(@ride[:landmark])  
        

  = field_set_tag 'About Your Bike' do
    .splitContainer
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-3
          %dl
            %dd= f.input :subcategory_id, :label => "Bicycle type", :collection => @subcategories, :selected => @default_subcategory
            %dd= error_span(@ride[:subcategory_id])
        .col-xs-12.col-sm-12.col-md-12.col-lg-3
          %dl
            %dd= f.input :make, :label => "Brand", :prompt => 'Select Brand', :collection => @ride.makes
        .col-xs-12.col-sm-12.col-md-12.col-lg-3
          %dl
            %dd= f.input :model, :prompt => 'Select Model', :collection => @ride.models
        .col-xs-12.col-sm-12.col-md-12.col-lg-3
          %dl
            %dd= f.input :extras, :label => "Extras included in this ride", :collection => @ride.included_extras, input_html: { multiple: true }
        
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-3
          %dl
            %dd= f.input :rider_height, prompt: 'Select Rider Height', :collection => RiderHeight.all, :label_method => :to_ft_cm, :value_method => :length
            %dd= error_span(@ride[:rider_height])
        .col-xs-12.col-sm-12.col-md-12.col-lg-3
          %dl
            %dd= f.input :frame_size, :prompt => 'Select Frame Size', :collection => FrameSize.all, :label_method => :to_cm, :value_method => :length
            %dd= error_span(@ride[:frame_size])
        .col-xs-12.col-sm-12.col-md-12.col-lg-3  
          %dl
            %dd= f.input :purchase_year, :prompt => 'Select Purchase Year', :collection => 2006..2016
        .col-xs-12.col-sm-12.col-md-12.col-lg-3
          %label{:for => "price_info"} Purchase Price
          .input-group
            %span#basic-addon3.input-group-addon ₹
            = f.input_field :market_price, class: "form-control", :aria_describedby => "basic-addon3", :id => "price_info"
            
                    
                  
              
  / = field_set_tag 'Bicycle type' do    
  /   .splitContainer
  /     %dl.third
  /       %dd= f.input :supplier_id, collection: @supplier_names, :selected => @default_supplier
  /     %dl.third
  /       %dd= f.input :subcategory_id, :label => "Product Category", :collection => @subcategory_names, :selected => @default_subcategory
  /     %dl.third
  /       %dd= f.input :brand_id, :label => "Brand", :collection => @brand_names, :selected => @default_brand
  /       %dd= error_span(@product[:brand])
            
  = field_set_tag 'Rental information' do
    .row
    
      .col-xs-6.col-sm-6.col-md-6.col-lg-6
        .row
          .col-xs-6.col-sm-6.col-md-6.col-lg-6
            %label Morning Rental
            .input-group
              %span#basic-addon3.input-group-addon ₹
              = f.input_field :morning_rental, class: "form-control", :aria_describedby => "basic-addon3"
              = error_span(@ride[:morning_rental])
              %span#basic-addon3.input-group-addon /slot
              / .col-xs-6.col-sm-6.col-md-6.col-lg-3
              /   %dl
              /     %dd= f.input :evening_rental
              /     %dd= error_span(@ride[:evening_rental])
              / .col-xs-6.col-sm-6.col-md-6.col-lg-2
              /   %dl  
              /     %dd= f.input :hourly_rental
              /     %dd= error_span(@ride[:hourly_rental])
        .row
          .col-xs-6.col-sm-6.col-md-6.col-lg-6
            %label Daily Rental
            .input-group
              %span#basic-addon3.input-group-addon ₹
              = f.input_field :daily_rental, class: "form-control", :aria_describedby => "basic-addon3"  
              = error_span(@ride[:daily_rental])
              %span#basic-addon3.input-group-addon /day  
        .row
          .col-xs-6.col-sm-6.col-md-6.col-lg-6  
            %label Weekly Rental
            .input-group
              %span#basic-addon3.input-group-addon ₹
              = f.input_field :weekly_rental, class: "form-control", :aria_describedby => "basic-addon3"
              = error_span(@ride[:weekly_rental])
              %span#basic-addon3.input-group-addon /week
      .col-xs-6.col-sm-6.col-md-6.col-lg-6
        %p Lower prices bring more ride requests. You can change your prices at any time. 
        %p.large Price Suggestions
        %p You choose your rental prices, but based on our suggestion 
        %p 1% of your bike price per day is a good starting point
        %p Example: if your bike price is 10000/-, our suggested rentals 
        %p.large Rs. 100 /day
        %p.large Rs. 50 /slot (3 hr or less) 
        %p.large Rs. 600 /week 
        %p An 8 day rental is charged 1 week and 1 day                   
    / %dl
    /   = f.input :willing_to_deliver
 
  / = f.input :address
  / = error_span(@ride[:address])
  /= f.input :city
  /= error_span(@ride[:city])
  / = f.input :state
  / = error_span(@ride[:state])
  / = f.input :pincode
  / = error_span(@ride[:pincode])
  /= f.input :landmark
  /1= error_span(@ride[:landmark])

  = field_set_tag 'Attach Images' do
    %p Please upload few beautiful pictures of your Bicycle
    /DONT CHANGE ANY TAG NAME UNLESS UR ABSOLUTELY SURE
    /WAHT U R DOING, all those tag has hard dependency 
    %upload_image
      %upload_widget_opener
        %a.btn.btn-primary#upload_widget_opener{:href => "#"} Upload
        %br 
      .row#images
        %span.status 
        .preview.col-xs-12.col-sm-12.col-md-12.col-lg-12#cycle_images
        -if !@ride.new_record?
          = render partial: 'images', ride: @ride 

   
  
  = f.button :submit, "List Ride", :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), rides_path, :class => 'btn btn-default'

/Should we move this script to application.js? It is only required wen this form is opend  
%script{:src => "//widget.cloudinary.com/global/all.js", :type => "text/javascript"}

<!-- Configure Cloudinary jQuery plugin -->


= cloudinary_js_config

:javascript

$(document).ready(function() {
  $('#ride_extras').multiselect({
    includeSelectAllOption: true
  });

  /* Description box word count*/
  $("#ride_description").on("keyup", function(){
    length = $(this).val().length;
    $("#description-count").html(length);
  });
});
