- @schedule = @ride.schedules.build
= simple_form_for [@ride, @schedule], :html => { :class => 'form-horizontal' , id: 'event_form' } do |f|
  = field_set_tag 'Ride Slot' do
    #slot
      %span#cont
        = f.input :morning_ride
      %span#cont  
        = f.input :weekly_ride
      %span#custom_ride
        = f.input :custom_ride
      %span#cont
        #allday  
          = f.input :all_day, :label => 'Daily ride'
  #custom_time{:style => "display:none"}
    = f.input :start_time
    = error_span(@schedule[:start_time])
    = f.input :end_time
    = error_span(@schedule[:end_time])
  
  %p
    = f.submit
    %span#creating_events.spinner{:style => "display:none;"} Creating, Please wait...
  %hr
:javascript
  

  $('#custom_ride').change(function() {
    $('#custom_time').toggle(this.checked);
  });