= simple_form_for @rider, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification

  .form-inputs
    = field_set_tag 'Personal Details' do 
      .splitContainer
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-7
            .row
              .col-xs-12.col-sm-12.col-md-12.col-lg-5
                %dl
                  %dd= f.input :first_name
              .col-xs-12.col-sm-12.col-md-12.col-lg-5
                %dl  
                  %dd= f.input :last_name
            .row
              .col-xs-12.col-sm-12.col-md-12.col-lg-5
                %dl
                  %dd= f.input :email, :input_html => { :value => @rider.user.email }, readonly: true, hint: 'You cannot change your registered email.'
              .col-xs-12.col-sm-12.col-md-12.col-lg-5
                %dl  
                  %dd= f.input :phone_number 
          .col-xs-12.col-sm-12.col-md-12.col-lg-5
            %dl        
              = field_set_tag 'Profile Picture' do
                %p Upload a clear picture of you
                /DONT CHANGE ANY TAG NAME UNLESS U R ABSOLUTELY SURE
                /WAHT U R DOING, all those tag has hard dependency.
                %upload_image
                  %upload_widget_opener
                    %a.btn.btn-primary{:href => "#"} Upload
                  %ul#images
                    %span.status
                    .preview#profile_pic
                    -if !@rider.profile_picture.nil?
                      = render partial: 'profile_pic', rider: @rider 
                    -if !@rider.new_record?
                      = render partial: 'profile_pic', rider: @rider 
      
    = field_set_tag 'Where do you live?' do
      .splitContainer
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .row
              .col-xs-12.col-sm-12.col-md-12.col-lg-7
                %dl
                  %dd= f.input :address_line_1
              .col-xs-12.col-sm-12.col-md-12.col-lg-5
                %dl  
                  %dd= f.input :address_line2
            .row
              .col-xs-12.col-sm-12.col-md-12.col-lg-5
                %dl
                  %dd= f.input :city
              .col-xs-12.col-sm-12.col-md-12.col-lg-5
                %dl  
                  %dd= f.input :state 
            .row
              .col-xs-12.col-sm-12.col-md-12.col-lg-5
                %dl
                  %dd= f.input :pincode
              .col-xs-12.col-sm-12.col-md-12.col-lg-5
                %dl  
                  %dd= f.input :country           
        
      %br  
      .splitContainer  
        /= f.input :parmanent_address
        /= f.input :office_email
        = field_set_tag 'Attach address proofs' do
          %p Please attach scanned copy of gov. issued id proof (PAN/Passport/DL/Aadhar) and address proof (Passport/DL/Aadhar)
          /DONT CHANGE ANY TAG NAME UNLESS UR ABSOLUTELY SURE
          /WAHT U R DOING, all those tag has hard dependency 
          %upload_image
            %upload_widget_opener
              %a.btn.btn-primary#upload_widget_opener{:href => "#"} Upload
              %br 
            .row#images
              %span.status 
              .preview.col-xs-12.col-sm-12.col-md-12.col-lg-12#documents
              /Quick fix for profile copy
              -if @rider.new_record?
                -if !@rider.id_proof_documents.nil?
                  = render partial: 'documents', rider: @rider 
              -if !@rider.new_record?
                = render partial: 'documents', rider: @rider
    /= f.input :age
    /= f.input :height
    / = field_set_tag 'Tell us about your bicycle' do 
    /   .splitContainer
    /     %dl.third
    /       %dd= f.input :number_of_bike
    /     %dl.third
    /       %dd= f.input :price_segment
    /     %dl.third  
    /       %dd= f.input :market_price
    / /= f.input :reference

    / = field_set_tag 'Reference details' do
    /   %p Only in case of emergency we may contact
    /   .splitContainer
    /     %dl.third
    /       %dd= f.input :reference_name
    /     %dl.third  
    /       %dd= f.input :reference_email
    /     %dl.third
    /       %dd= f.input :reference_phone_number

    /= f.input :verified
    /= f.input :verification_comment
    /= f.input :verified_by

  .form-actions
    = f.button :submit, :class => 'btn btn-primary btn-lg active'

%script{:src => "//widget.cloudinary.com/global/all.js", :type => "text/javascript"}

<!-- Configure Cloudinary jQuery plugin -->


= cloudinary_js_config

:javascript

$.cloudinary.config({ cloud_name: 'dijs1yfba', api_key: '488196417269728'});


