%h1 Listing riders

%table
  %thead
    %tr
      %th First name
      %th Last name
      %th Email
      %th Phone number
      %th Profile picture
      %th Address line 1
      %th Address line2
      %th City
      %th State
      %th Country
      %th Pincode
      %th Parmanent address
      %th Office email
      %th Id proof documents
      %th Age
      %th Height
      %th Number of bike
      %th Price segment
      %th Market price
      %th Reference
      %th Reference name
      %th Reference email
      %th Reference phone number
      %th Verified
      %th Verification comment
      %th Verified by
      %th
      %th
      %th

  %tbody
    - @riders.each do |rider|
      %tr
        %td= rider.first_name
        %td= rider.last_name
        %td= rider.email
        %td= rider.phone_number
        %td= rider.profile_picture
        %td= rider.address_line_1
        %td= rider.address_line2
        %td= rider.city
        %td= rider.state
        %td= rider.country
        %td= rider.pincode
        %td= rider.parmanent_address
        %td= rider.office_email
        %td= rider.id_proof_documents
        %td= rider.age
        %td= rider.height
        %td= rider.number_of_bike
        %td= rider.price_segment
        %td= rider.market_price
        %td= rider.reference
        %td= rider.reference_name
        %td= rider.reference_email
        %td= rider.reference_phone_number
        %td= rider.verified
        %td= rider.verification_comment
        %td= rider.verified_by
        %td= link_to 'Show', rider
        %td= link_to 'Edit', edit_rider_path(rider)
        %td= link_to 'Destroy', rider, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Rider', new_rider_path
