%p#notice= notice

.container
  .row
    .col-xs-12.col-sm-12.col-md-6.col-lg-12
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .panel.panel-info
            .panel-heading
              .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-8 
                  %h3
                    My Profile  
                .col-xs-12.col-sm-12.col-md-4.col-lg-4
                  .panel-action  
                    = link_to t('.back', :default => t("helpers.links.back")), rides_path, :class => 'btn btn-info'
  
            .panel-body
              %p= @rider.first_name + " "+ @rider.first_name
            %ul.list-group
              %li.list-group-item
                %p
                  %b Email:
                  = @rider.email
                %p
                  %b Phone number:
                  = @rider.phone_number
                %p
                  %b Profile picture:
                  = @rider.profile_picture
                %p
                  %b Address line 1:
                  = @rider.address_line_1
                %p
                  %b Address line2:
                  = @rider.address_line2
                %p
                  %b City:
                  = @rider.city
                %p
                  %b State:
                  = @rider.state
                %p
                  %b Country:
                  = @rider.country
                %p
                  %b Pincode:
                  = @rider.pincode
                %p
                  %b Parmanent address:
                  = @rider.parmanent_address
                %p
                  %b Office email:
                  = @rider.office_email
                %p
                  %b Id proof documents:
                  = @rider.id_proof_documents
                %p
                  %b Age:
                  = @rider.age
                %p
                  %b Height:
                  = @rider.height
                %p
                  %b Number of bike:
                  = @rider.number_of_bike
                %p
                  %b Price segment:
                  = @rider.price_segment
                %p
                  %b Market price:
                  = @rider.market_price
                %p
                  %b Reference:
                  = @rider.reference
                %p
                  %b Reference name:
                  = @rider.reference_name
                %p
                  %b Reference email:
                  = @rider.reference_email
                %p
                  %b Reference phone number:
                  = @rider.reference_phone_number
                %p
                  %b Verified:
                  = @rider.verified
                %p
                  %b Verification comment:
                  = @rider.verification_comment
                %p
                  %b Verified by:
                  = @rider.verified_by
                %li.list-group-item
                .panel-container
                  %h4
                    Submitted Documents    
                  %p
                    - if !@rider.id_proof_documents.nil?
                      .row
                        - @rider.id_proof_documents.each_with_index do |image, index|
                          .col-xs-6.col-md-2.col-sm-2
                            %ride_image
                              /{:id => image["public_id"]}
                              .image
                                = image_tag(image["thumbnail_url"], :class => "img-rounded pull-xs-left")
                              .action  
                                = link_to "Delete", image_path(:id => @rider.id, :resource_type => @rider.class, :img_pub_id => image["public_id"] ), :method => :delete, data: { confirm: "Are you sure you want to delete this image?" , :remote => true}
  


= link_to 'Edit', edit_rider_path(@rider)
\|
= link_to 'Back', riders_path

