= simple_form_for @rider, :html => { :class => 'form-horizontal' } do |f|
  = f.input :first_name
  = error_span(@rider[:first_name])
  = f.input :last_name
  = error_span(@rider[:last_name])
  = f.input :email
  = error_span(@rider[:email])
  = f.input :phone_number
  = error_span(@rider[:phone_number])
  = f.input :profile_picture
  = error_span(@rider[:profile_picture])
  = f.input :address_line_1
  = error_span(@rider[:address_line_1])
  = f.input :address_line2
  = error_span(@rider[:address_line2])
  = f.input :city
  = error_span(@rider[:city])
  = f.input :state
  = error_span(@rider[:state])
  = f.input :country
  = error_span(@rider[:country])
  = f.input :pincode
  = error_span(@rider[:pincode])
  = f.input :parmanent_address
  = error_span(@rider[:parmanent_address])
  = f.input :office_email
  = error_span(@rider[:office_email])
  = f.input :id_proof_documents
  = error_span(@rider[:id_proof_documents])
  = f.input :age
  = error_span(@rider[:age])
  = f.input :height
  = error_span(@rider[:height])
  = f.input :number_of_bike
  = error_span(@rider[:number_of_bike])
  = f.input :price_segment
  = error_span(@rider[:price_segment])
  = f.input :market_price
  = error_span(@rider[:market_price])
  = f.input :reference
  = error_span(@rider[:reference])
  = f.input :reference_name
  = error_span(@rider[:reference_name])
  = f.input :reference_email
  = error_span(@rider[:reference_email])
  = f.input :reference_phone_number
  = error_span(@rider[:reference_phone_number])
  = f.input :verified
  = error_span(@rider[:verified])
  = f.input :verification_comment
  = error_span(@rider[:verification_comment])
  = f.input :verified_by
  = error_span(@rider[:verified_by])
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), riders_path, :class => 'btn btn-default'
