- model_class = Rider
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:first_name) + ':'
  %br
  = @rider.first_name
%p
  %strong= model_class.human_attribute_name(:last_name) + ':'
  %br
  = @rider.last_name
%p
  %strong= model_class.human_attribute_name(:email) + ':'
  %br
  = @rider.email
%p
  %strong= model_class.human_attribute_name(:phone_number) + ':'
  %br
  = @rider.phone_number
%p
  %strong= model_class.human_attribute_name(:profile_picture) + ':'
  %br
  = @rider.profile_picture
%p
  %strong= model_class.human_attribute_name(:address_line_1) + ':'
  %br
  = @rider.address_line_1
%p
  %strong= model_class.human_attribute_name(:address_line2) + ':'
  %br
  = @rider.address_line2
%p
  %strong= model_class.human_attribute_name(:city) + ':'
  %br
  = @rider.city
%p
  %strong= model_class.human_attribute_name(:state) + ':'
  %br
  = @rider.state
%p
  %strong= model_class.human_attribute_name(:country) + ':'
  %br
  = @rider.country
%p
  %strong= model_class.human_attribute_name(:pincode) + ':'
  %br
  = @rider.pincode
%p
  %strong= model_class.human_attribute_name(:parmanent_address) + ':'
  %br
  = @rider.parmanent_address
%p
  %strong= model_class.human_attribute_name(:office_email) + ':'
  %br
  = @rider.office_email
%p
  %strong= model_class.human_attribute_name(:id_proof_documents) + ':'
  %br
  = @rider.id_proof_documents
%p
  %strong= model_class.human_attribute_name(:age) + ':'
  %br
  = @rider.age
%p
  %strong= model_class.human_attribute_name(:height) + ':'
  %br
  = @rider.height
%p
  %strong= model_class.human_attribute_name(:number_of_bike) + ':'
  %br
  = @rider.number_of_bike
%p
  %strong= model_class.human_attribute_name(:price_segment) + ':'
  %br
  = @rider.price_segment
%p
  %strong= model_class.human_attribute_name(:market_price) + ':'
  %br
  = @rider.market_price
%p
  %strong= model_class.human_attribute_name(:reference) + ':'
  %br
  = @rider.reference
%p
  %strong= model_class.human_attribute_name(:reference_name) + ':'
  %br
  = @rider.reference_name
%p
  %strong= model_class.human_attribute_name(:reference_email) + ':'
  %br
  = @rider.reference_email
%p
  %strong= model_class.human_attribute_name(:reference_phone_number) + ':'
  %br
  = @rider.reference_phone_number
%p
  %strong= model_class.human_attribute_name(:verified) + ':'
  %br
  = @rider.verified
%p
  %strong= model_class.human_attribute_name(:verification_comment) + ':'
  %br
  = @rider.verification_comment
%p
  %strong= model_class.human_attribute_name(:verified_by) + ':'
  %br
  = @rider.verified_by


= link_to t('.back', :default => t("helpers.links.back")), riders_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_rider_path(@rider), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), rider_path(@rider), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
