#bs-example-navbar-collapse-1.collapse.navbar-collapse
  %ul.nav.navbar-nav.navbar-right
    %li.hidden
      %a{:href => "#page-top"}
    / %li.page-scroll
    /   = link_to 'List a Ride', "/rides/new"
    %li.page-scroll
      = link_to 'Products', "/products"  
    %li.page-scroll
      = link_to 'About', "/#about"
    %li.page-scroll
      = link_to 'Contact', "/#contact"
    - if user_signed_in?
      -if current_user.admin?  
        %li.page-scroll
          = link_to 'Dashboard', "/admin/dashboard" 
      -else    
        %li.dropdown.page-scroll
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            = current_user.email
            %span.caret
          %ul.dropdown-menu
            / %li
            /   = link_to 'My Offered Rides', "/rides/my_ride_offers"
            / %li
            /   %a{:href => "#"} My Ride
            / %li
            /   = link_to 'Rider Profile', "/riders/my_rider_profile"
            / %li
            /   = link_to 'Owner Profile', "/owners/my_owner_profile"  
            / %li.divider{:role => "separator"}
            %li
              = render 'layouts/frontend/nav_links_for_auth'
    - else
      %li.page-scroll
        = render 'layouts/frontend/nav_links_for_auth'           
     
        
    
    

/ = render 'layouts/frontend/nav_links_for_auth'
  